<%- include('partials/header') %>

<% if (isLoggedIn) { %>
<div class="container mt-5">
    <div class="d-flex mt-5">
        <a class="btn" href="/add-note" role="button"
            style="background-color: #00bcd4; color: white; border: none; padding: 10px 20px; border-radius: 5px; position: relative; overflow: hidden;">
            <span
                style="background-color: #333; width: 40px; height: 100%; position: absolute; left: 0; top: 0; display: flex; align-items: center; justify-content: center;">
                <span style="color: white;">+</span>
            </span>
            <span style="margin-left: 40px;">ADD NOTE</span>
        </a>
    </div>
</div>
<% } %>
        <% if (books.length > 0) { %>
        <div class="container mt-5">
            <h2>Books</h2>
            <div class="row">
                <% books.forEach(function (book) { %>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img 
                            src="<%= book.cover_url %>" 
                            class="card-img-top"
                            alt="<%= book.title %>"
                            style="width: 180px; height: 260px; object-fit: cover; margin: 0 auto; display: block; border-radius: 0.5rem;"
                        >
                        <div class="card-body">
                            <h5 class="card-title"><%= book.title %></h5>
                            <p class="card-text"><%= book.note %></p>
                            <a href="/books/<%= book._id %>" class="btn btn-primary">View Book</a>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
        <% } %>
    

    <%- include("partials/footer.ejs") %>